
/***** BASE STYLES *****/
html {
    font-size: 12px;
}


body {
font-family: "Source Sans Pro", sans-serif;
color: #2b2b2b;
width: 100%; 
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5rem;
line-height: 40px;

}

.container {
    width: 100%;
}


section {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.content-wrapper {
    width: 80%;
}


h2 {
    font-family: "Lora", serif;
    font-size: 2.57rem;
}


@keyframes fadeinup {
    0% {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


i {
    padding-right: 15px;
    font-size: 3em;
    color: #c49075;
}

a:hover {
    color:skyblue/*#095256*/;
}

/****HEADER*****/

header {
    height: auto;
    width: 100%;
    padding: 38px 0;
    background-color: white;
}

header h1 { 
    font-size: 1em;;
    margin: 0;
    width: 100%;
    text-align: left;
    color: darkslategray;  
}



/**Navigation**/
.topnav {
    display: none;
}

.active {
    display: block;
}

.burger {
    display: flex;
    padding: 0 20px;
}


#hamburger-icon {
    color: blue;
    padding: 0;
}

#hamburger-icon:hover {
    color: skyblue
}

header nav ul {
    margin: 0;
    padding-left: 20px; 
}


header nav ul li {
    list-style: none;
    font-size: .875em;
    padding-top: 20px;
    text-align: left;
    
}

header nav ul li a {
    text-decoration: none;
    color: indigo;
}


/**Hero Area**/
.hero-area {
    min-height: 800px;
    /*background: url(../img/talking.jpg) center top no-repeat;*/
    /*background-size: cover;*/
    /*background-color: skyblue;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
    }

    .hero-area::before {    
        content: "";
        background: url(../img/talking.jpg) center top no-repeat;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.50;
  }
    
    .hero-area h2 {
        font-family: "Lora", serif;
        font-size: 5.142rem;
        line-height: 5.714rem;
        color: rgb(9, 9, 65);
        width: 100%;
        margin-top: 0;
        animation: fadeinup 1s ease-in-out;
        position: relative;
        
    }

    .headlines {
        width: 80%;
    }

    #subhead {
        font-family: "Lora", serif;
        font-size: 2.6rem;
        color: rgb(9, 9, 65);
        margin: 0;
        animation: fadeinup 2s ease-in-out;
        position: relative;
    }

/**Stutter Info**/

#stutter-info h3 {
    font-size: 1.714rem;
    line-height: 2.285rem;
}


/**About Me**/

#about-me {
    background-color: #bed2c5 /*#b5d5ce*/
}


/**Services and Booking***/

#services {
    display: flex;
    align-items: center;
}

.rates, .booking {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 20px;
}

#services h3 {
    font-size: 1.714rem;
    line-height: 2.285rem;
}

.booking a {
    color: #c49075;
    font-weight: bold;
}

.booking a:hover {
    color: #095256;
}

/***FOOTER****/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    padding: 40px 0;
}

#contact .content-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}

#contact img#contact-img {
    border: 12px solid #ffffff;
}



#contact h2 {
    font-family: "Lora", serif;
    font-size: 2.571rem;
    line-height: 3.142rem;
}

#contact-img {
    width: 100%;
    height: auto;
}

#contact #email-header {
    font-size: 2.285rem;
    font-weight: normal;
    line-height: 3.142rem;
    margin: 0;
}


#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 2rem;
}

#contact a:hover {
    color: #095256;
}


#phone {
    color: #c49075;
    font-weight: bold;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    font-size: 1.5rem;

}

@media (min-width: 768px) {

    html {
        font-size: 14px;
    }

    .topnav {
        display: block;
    }

    header {
        justify-content: space-around;
        flex-flow: initial;
        display: flex;
    }

    header h1 { 
        border-bottom: none;
        text-align: left;
        width: 100%;
    }

    header nav ul li {
        display: inline;
        padding: 0 10px;
    }


    .hamburger {
        display: none;
    }

    .burger {
        width: 35%;
        padding: 0;
    }


    #services .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
    }
    
    .rates, .booking {
        width: 45%;
        padding: 0;
    }

    footer {
        display: flex;
        justify-content: center;
        
    }
    
    #contact .content-wrapper {
        justify-content: space-around;
        width: 80%;
    }

    .contact-image {
        display: flex;   
    }

}


    @media (min-width: 1200px) {

    .content-wrapper {
        width: 65%;
    }

    .burger {
        width: 60%;
        padding: 0;
    }

    header h1 {
        padding: 0;
    }



}
    
